useDynLib(adaptive.sampling)
export(count.statistic)
export(default.alpha)
export(default.beta)
export(default.gamma)
export(make.options)
export(adaptive.sampling)
export(plot.binning.marginal)
export(plot.sampling)
export(sampling.demo)
S3method(plot, sampling)
