useDynLib(adaptive.sampling)
export(make.options)
export(count.statistic)
export(default.alpha)
export(default.beta)
export(default.gamma)
export(binning.posterior)
export(sampling.utility)
S3method(plot, binning.posterior)
