useDynLib(AdaptiveSampling)
export(count_statistic)
export(default_alpha)
export(default_beta)
export(default_gamma)
export(default_options)
export(adaptive_sampling)
export(plot_result)
export(sampling_demo)
